In [1]:
Abc = 100,000,000

In [2]:
A,b,c = 100,200,300

In [3]:
A b c = 100 200 300

SyntaxError: invalid syntax (4276337765.py, line 1)

In [4]:
A_b_c = 100,000,000

In [5]:
tup = 1, 2, 3

In [6]:
tup = [1, 2, 3]

In [8]:
tup

[1, 2, 3]

In [10]:
import pandas as pd

In [15]:
ratings=pd.read_csv(r'C:\Users\Admin\Downloads\movie_data\ratings.csv')

In [12]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [13]:
df.nunique()

userId         610
movieId       9724
rating          10
timestamp    85043
dtype: int64

In [16]:
links=pd.read_csv(r'C:\Users\Admin\Downloads\movie_data\links.csv')

In [17]:
movies=pd.read_csv(r'C:\Users\Admin\Downloads\movie_data\movies.csv')

In [18]:
tags=pd.read_csv(r'C:\Users\Admin\Downloads\movie_data\tags.csv')

In [20]:
movies_ratings_df = pd.merge(movies, ratings, on='movieId')

In [21]:
movies_ratings_tags_df = pd.merge(movies_ratings_df, tags, on='movieId', how='left')

In [22]:
full_df = pd.merge(movies_ratings_tags_df, links, on='movieId', how='left')

In [23]:
full_df.head()

,movieId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,336.0,pixar,1.139046e+09,114709,862.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,474.0,pixar,1.137207e+09,114709,862.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,567.0,fun,1.525286e+09,114709,862.0
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,336.0,pixar,1.139046e+09,114709,862.0
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,474.0,pixar,1.137207e+09,114709,862.0

In [19]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
full_df.tail()

,movieId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,imdbId,tmdbId
285757,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082,NaN,NaN,NaN,5476944,432131.0
285758,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545,NaN,NaN,NaN,5914996,445030.0
285759,193585,Flint (2017),Drama,184,3.5,1537109805,NaN,NaN,NaN,6397426,479308.0
285760,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021,NaN,NaN,NaN,8391976,483455.0
285761,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606,NaN,NaN,NaN,101726,37891.0

In [27]:
full_df.to_csv('merged_data.csv', index=False)

In [26]:
full_df.columns

Index(['movieId', 'title', 'genres', 'userId_x', 'rating', 'timestamp_x',
       'userId_y', 'tag', 'timestamp_y', 'imdbId', 'tmdbId'],
      dtype='object')

In [31]:
movie_rating_counts = ratings['movieId'].value_counts()

In [32]:
movie_rating_counts

movieId
356       329
318       317
296       307
593       279
2571      278
         ...
86279       1
86922       1
5962        1
87660       1
163981      1
Name: count, Length: 9724, dtype: int64

In [33]:
max_ratings_movie_id = movie_rating_counts.idxmax()

In [34]:
most_rated_movie = movies[movies['movieId'] == max_ratings_movie_id]

In [35]:
most_rated_movie

     movieId                title                    genres
314      356  Forrest Gump (1994)  Comedy|Drama|Romance|War

In [36]:
movie_title = "The Matrix (1999)"
movie_info = movies[movies['title'] == movie_title]

if movie_info.empty:
    print(f"Movie '{movie_title}' not found.")
else:
    movie_id = movie_info.iloc[0]['movieId']
    
    # Find all tags for the movie ID
    movie_tags = tags[tags['movieId'] == movie_id]
    
    # Display the tags
    tags_list = movie_tags['tag'].unique()  # Get unique tags
    
    print(f"Tags for '{movie_title}':")
    for tag in tags_list:
        print(tag)

Movie 'The Matrix (1999)' not found.

In [37]:
python find_movie_tags.py

SyntaxError: invalid syntax (2898464882.py, line 1)

In [38]:
avg_ratings = ratings.groupby('movieId')['rating'].mean()

In [40]:
most_popular_movie_id = avg_ratings.idxmax()

In [44]:
rated_movie = movies[movies['movieId'] == most_popular_movie_id]

In [45]:
rated_movie

    movieId            title           genres
48       53  Lamerica (1994)  Adventure|Drama

In [46]:
sci_fi_movies = movies[movies['genres'].str.contains('Sci-Fi')]

In [47]:
sci_fi_with_links = pd.merge(sci_fi_movies, links, on='movieId')

In [50]:
sci_fi_with_links

,movieId,title,genres,imdbId,tmdbId
0,24,Powder (1995),Drama|Sci-Fi,114168,12665.0
1,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,112682,902.0
2,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,114746,63.0
3,66,Lawnmower Man 2: Beyond Cyberspace (1996),Action|Sci-Fi|Thriller,116839,11525.0
4,76,Screamers (1995),Action|Sci-Fi|Thriller,114367,9102.0
...,...,...,...,...,...
975,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,5095030,363088.0
976,189547,Iron Soldier (2010),Action|Sci-Fi,1665744,111196.0
977,190183,The Darkest Minds (2018),Sci-Fi|Thriller,4073790,445651.0
978,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,5805470,432985.0
979,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,1636780,71172.0

In [63]:
df=full_df[full_df['genres'].str.contains('Sci-Fi')]

In [64]:
df

,movieId,title,genres,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y,imdbId,tmdbId
2235,24,Powder (1995),Drama|Sci-Fi,6,4.0,845554397,NaN,NaN,NaN,114168,12665.0
2236,24,Powder (1995),Drama|Sci-Fi,32,3.0,856737205,NaN,NaN,NaN,114168,12665.0
2237,24,Powder (1995),Drama|Sci-Fi,71,2.0,864740028,NaN,NaN,NaN,114168,12665.0
2238,24,Powder (1995),Drama|Sci-Fi,111,2.5,1518640854,NaN,NaN,NaN,114168,12665.0
2239,24,Powder (1995),Drama|Sci-Fi,181,3.0,845470571,NaN,NaN,NaN,114168,12665.0
...,...,...,...,...,...,...,...,...,...,...,...
285748,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,184,4.5,1537109489,NaN,NaN,NaN,5805470,432985.0
285749,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184.0,anime,1.537099e+09,1636780,71172.0
285750,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184.0,comedy,1.537099e+09,1636780,71172.0
285751,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184.0,gintama,1.537099e+09,1636780,71172.0
285752,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554,184.0,remaster,1.537099e+09,1636780,71172.0

In [69]:
sci_fi_with_ratings = pd.merge(df, ratings, on='imdbId')

KeyError: 'imdbId'

In [72]:
df1=df[df['rating']==5]

In [68]:
full_df.loc[full_df['rating'].idxmax()]

movieId                                                  1
title                                     Toy Story (1995)
genres         Adventure|Animation|Children|Comedy|Fantasy
userId_x                                                31
rating                                                 5.0
timestamp_x                                      850466616
userId_y                                             336.0
tag                                                  pixar
timestamp_y                                   1139045764.0
imdbId                                              114709
tmdbId                                               862.0
Name: 27, dtype: object

In [73]:
df1['genres'].value_counts()

genres
Action|Adventure|Sci-Fi                            4059
Action|Sci-Fi|Thriller                             1471
Adventure|Drama|Sci-Fi                             1438
Drama|Romance|Sci-Fi                               1131
Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX    1066
                                                   ...
Action|Adventure|Animation|Children|Sci-Fi            1
Action|Crime|Sci-Fi|Thriller                          1
Adventure|Fantasy|Romance|Sci-Fi|Thriller             1
Action|Drama|Horror|Sci-Fi|Thriller                   1
Drama|Romance|Sci-Fi|Thriller                         1
Name: count, Length: 125, dtype: int64

In [2]:
import os
os.getcwd()

'C:\\Users\\Admin'